<section class="main-content">
<!-- topcontent -->
<div class="topcontent">
	<div class="container-fluid">
	
		<div class="row">
			<div class="col-md-2">
				<h3>{{data?.Client_ID}}</h3>
				<p>Client ID</p>
			</div>
			<div class="col-md-2">
				<h3>Name of Entity</h3>
				<p>Entity Name</p>
			</div>
			<div class="col-md-2">
				<h3>No</h3>
				<p>Public Interest Entity</p>
			</div>
			<div class="col-md-2">
				<h3>Text Information</h3>
				<p>Industry SIC</p>
			</div>
			<div class="col-md-2">
				<h3>In Progress</h3>
				<p>Status of Client Assessment</p>
			</div>
			<div class="col-md-2">
				<h3>In progress</h3>
				<p>Status of Third Party Assessment</p>
			</div>
		</div>
	</div>
	
</div>


<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="giscontent">
				<h3>GIS Details<a class="pull-right refresh"><span class="glyphicon glyphicon-refresh"></span><span class="spacespan">SYNC ON</span></a></h3>	
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<h4>GIS ID</h4>
			<p>GIS ID</p>
		</div>
		<div class="col-md-3">
			<h4>Global Ut Parent ID</h4>
			<p>Global Ut Parent ID</p>
		</div>
		<div class="col-md-3">
			<h4>KPMG External Audit Client</h4>
			<p>KPMG External Audit Client</p>
		</div>
		<div class="col-md-3">
			<h4>Direct Parent ID</h4>
			<p>Direct Parent ID</p>
		</div>
		<div class="col-md-3">
			<h4>Global Ut DUNS Number</h4>
			<p>Global Ut DUNS Number</p>
		</div>
		<div class="col-md-3">
			<h4>GIS Name</h4>
			<p>GIS Name</p>
		</div>
		<div class="col-md-3">
			<h4>Global Ultimate Parent Name</h4>
			<p>Global Ultimate Parent Name</p>
		</div>
		<div class="col-md-3">
			<h4>Restricted Entity Status</h4>
			<p>Restricted Entity Status</p>
		</div>
		<div class="col-md-3">
			<h4>Direct Parent Name</h4>
			<p>Direct Parent Name</p>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="giscontent">
				<h3>Client Acceptance
					<span class="pull-right">
						<a class="add"><span class="glyphicon glyphicon-plus"></span><span class="spacespan">New</span></a>					
						<a class="refresh"><span class="glyphicon glyphicon-refresh"></span><span class="spacespan">Refresh</span></a>
					</span>
				</h3>	
			</div>
		</div>
	</div>
	<div class="clientacceptancetable">
		<table class="table">
		    <thead>
		      <tr>
		      	<th></th>
		        <th>Evaluation ID</th>
		        <th>Client Risk Grade</th>
		        <th>Evaluation Type</th>
		        <th>Approved on</th>
		        <th>State</th>
		        <th>Created on</th>
		        <th>Last modified</th>
		        <th>CEAC partner lead</th>
		        <th>Requester</th>
		        <th></th>
		        <th></th>
		        <th></th>
		        <th></th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		      	<td></td>
		        <td>John</td>
		        <td>Doe</td>
		        <td>john@example.com</td>
		        <td>John</td>
		        <td>Doe</td>
		        <td>john@example.com</td>
		        <td>John</td>
		        <td>Doe</td>
		        <td>john@example.com</td>
		        <td><span class="glyphicon glyphicon-pencil"></span></td>
		        <td><span class="glyphicon glyphicon-floppy-disk"></span></td>
		        <td><span class="glyphicon glyphicon-send"></span></td>
		        <td><span class="glyphicon glyphicon-credit-card"></span></td>
		      </tr>
		      <tr>
		        <td></td>
		        <td>Mary</td>
		        <td>Moe</td>
		        <td>mary@example.com</td>
		        <td>John</td>
		        <td>Doe</td>
		        <td>john@example.com</td>
		        <td>John</td>
		        <td>Doe</td>
		        <td>john@example.com</td>
		        <td><span class="glyphicon glyphicon-pencil"></span></td>
		        <td><span class="glyphicon glyphicon-floppy-disk"></span></td>
		        <td><span class="glyphicon glyphicon-send"></span></td>
		        <td><span class="glyphicon glyphicon-credit-card"></span></td>
		      </tr>
		      <tr>
		        <td></td>
		        <td>July</td>
		        <td>Dooley</td>
		        <td>july@example.com</td>
		        <td>John</td>
		        <td>Doe</td>
		        <td>john@example.com</td>
		        <td>John</td>
		        <td>Doe</td>
		        <td>john@example.com</td>
		        <td><span class="glyphicon glyphicon-pencil"></span></td>
		        <td><span class="glyphicon glyphicon-floppy-disk"></span></td>
		        <td><span class="glyphicon glyphicon-send"></span></td>
		        <td><span class="glyphicon glyphicon-credit-card"></span></td>
		      </tr>
		      <tr>
		        <td></td>
		        <td>July</td>
		        <td>Dooley</td>
		        <td>july@example.com</td>
		        <td>John</td>
		        <td>Doe</td>
		        <td>john@example.com</td>
		        <td>John</td>
		        <td>Doe</td>
		        <td>john@example.com</td>
		        <td><span class="glyphicon glyphicon-pencil"></span></td>
		        <td><span class="glyphicon glyphicon-floppy-disk"></span></td>
		        <td><span class="glyphicon glyphicon-send"></span></td>
		        <td><span class="glyphicon glyphicon-credit-card"></span></td>
		      </tr>

		    </tbody>
  		</table>
	</div>
</div>	

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="giscontent">
				<h3>Third Party Acceptance
					<span class="pull-right">
						<a class="add"><span class="glyphicon glyphicon-plus"></span><span class="spacespan">New</span></a>					
						<a class="refresh"><span class="glyphicon glyphicon-refresh"></span><span class="spacespan">Refresh</span></a>
					</span>
				</h3>	
			</div>
		</div>
	</div>
	<div class="third_party_acceptance_table">
		<table class="table">
		    <thead>
		      <tr>
		      	<th></th>
		        <th>Evaluation ID</th>
		        <th>Client Risk Grade</th>
		        <th>Evaluation Type</th>
		        <th>Approved on</th>
		        <th>State</th>
		        <th>Created on</th>
		        <th>Last modified</th>
		        <th>CEAC partner lead</th>
		        <th>Requester</th>
		        <th></th>
		        <th></th>
		        <th></th>
		        <th></th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		      	<td></td>
		        <td>John</td>
		        <td>Doe</td>
		        <td>john@example.com</td>
		        <td>John</td>
		        <td>Doe</td>
		        <td>john@example.com</td>
		        <td>John</td>
		        <td>Doe</td>
		        <td>john@example.com</td>
		        <td><span class="glyphicon glyphicon-pencil"></span></td>
		        <td><span class="glyphicon glyphicon-floppy-disk"></span></td>
		        <td><span class="glyphicon glyphicon-send"></span></td>
		        <td><span class="glyphicon glyphicon-credit-card"></span></td>
		      </tr>
		      <tr>
		        <td></td>
		        <td>Mary</td>
		        <td>Moe</td>
		        <td>mary@example.com</td>
		        <td>John</td>
		        <td>Doe</td>
		        <td>john@example.com</td>
		        <td>John</td>
		        <td>Doe</td>
		        <td>john@example.com</td>
		        <td><span class="glyphicon glyphicon-pencil"></span></td>
		        <td><span class="glyphicon glyphicon-floppy-disk"></span></td>
		        <td><span class="glyphicon glyphicon-send"></span></td>
		        <td><span class="glyphicon glyphicon-credit-card"></span></td>
		      </tr>
		      <tr>
		        <td></td>
		        <td>July</td>
		        <td>Dooley</td>
		        <td>july@example.com</td>
		        <td>John</td>
		        <td>Doe</td>
		        <td>john@example.com</td>
		        <td>John</td>
		        <td>Doe</td>
		        <td>john@example.com</td>
		        <td><span class="glyphicon glyphicon-pencil"></span></td>
		        <td><span class="glyphicon glyphicon-floppy-disk"></span></td>
		        <td><span class="glyphicon glyphicon-send"></span></td>
		        <td><span class="glyphicon glyphicon-credit-card"></span></td>
		      </tr>
		      <tr>
		        <td></td>
		        <td>July</td>
		        <td>Dooley</td>
		        <td>july@example.com</td>
		        <td>John</td>
		        <td>Doe</td>
		        <td>john@example.com</td>
		        <td>John</td>
		        <td>Doe</td>
		        <td>john@example.com</td>
		        <td><span class="glyphicon glyphicon-pencil"></span></td>
		        <td><span class="glyphicon glyphicon-floppy-disk"></span></td>
		        <td><span class="glyphicon glyphicon-send"></span></td>
		        <td><span class="glyphicon glyphicon-credit-card"></span></td>
		      </tr>

		    </tbody>
  		</table>
	</div>
</div>	
</section>